<div class="modal" *ngIf="showModal">
  <div class="modal-content" #modalContent>
    <h2 class="modal-title">Chọn rạp và suất chiếu - {{ movie?.title }}</h2>
    <span class="close" (click)="closeModal()">×</span>
    <hr />
    <app-showtimes
      [movieId]="movie?.id || 0"
      [status]="movie?.status || ''"
      (bookShowtime)="onBookShowtime($event)"
      [cinemaId]="cinemaId"
    ></app-showtimes>
  </div>
</div>

<!-- Add Confirm Booking Modal -->
<app-confirm-booking-modal
  [showModal]="showConfirmModal"
  [movie]="movie"
  [cinema]="selectedCinemaObj"
  [showtime]="selectedShowtime"
  (close)="onCloseConfirmModal()"
  (confirm)="onConfirmBooking($event)"
></app-confirm-booking-modal>
