.detail-movie-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  .fixed-book-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;

    .btn {
      padding: 12px 24px;
      font-size: 1.2rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
