<div class="search-page-container">
  <div class="container">
    <h2>Kết Quả Tìm Kiếm: "{{ query }}"</h2>

    <!-- Quick Filter -->
    <div class="quick-filter">
      <button [class.active]="searchType === 'movies'" (click)="setSearchType('movies')">
        Phim
      </button>
      <button [class.active]="searchType === 'actors'" (click)="setSearchType('actors')">
        Diễn viên
      </button>
    </div>

    <!-- Kết quả tìm kiếm -->
    <div class="search-results">
      <!-- Kết quả phim -->
      <div class="movie-item" *ngFor="let movie of movies">
        <img alt="" [src]="movie.poster" [alt]="movie.title" class="poster" />
        <div class="movie-info">
          <h4>
            <a [routerLink]="['/movies', movie.id]">{{ movie.title }}</a>
          </h4>
          <p><strong>Thể loại:</strong> {{ movie.genres }}</p>
          <p>
            <strong>Năm phát hành:</strong>
            {{ movie.releaseDate | date: 'yyyy' }}
          </p>
          <p>{{ movie.description }}</p>
        </div>
      </div>

      <!-- Kết quả diễn viên -->
      <div class="actor-item" *ngFor="let actor of actors">
        <img alt="" [src]="actor.photoUrl" [alt]="actor.name" class="actor-image" />
        <div class="actor-info">
          <h4>
            <a [routerLink]="['/actors', actor.id]">{{ actor.name }}</a>
          </h4>
          <p>{{ actor.introduction }}</p>
        </div>
      </div>

      <p *ngIf="!movies?.length && !actors?.length">Không tìm thấy kết quả nào phù hợp.</p>
    </div>

    <!-- Phân trang -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button
        class="btn btn-outline-primary"
        [disabled]="currentPage === 1"
        (click)="changePage(currentPage - 1)"
      >
        Trang trước
      </button>
      <span>Trang {{ currentPage }} / {{ totalPages }}</span>
      <button
        class="btn btn-outline-primary"
        [disabled]="currentPage === totalPages"
        (click)="changePage(currentPage + 1)"
      >
        Trang sau
      </button>
    </div>
  </div>
</div>
