<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="assets\image\logo_dvcinema.jpg" alt="Logo" class="logo-img" />
      </div>
      <div class="footer-links">
        <a href="#">Giới thiệu</a>
        <a href="#">Liên hệ</a>
        <a href="#">Điều khoản</a>
        <a href="#">Chính sách bảo mật</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Công ty của bạn. Đã đăng ký bản quyền.</p>
    </div>
  </div>
</footer>
