<div class="movie-info">
  <div class="container">
    <div class="row">
      <!-- Poster phim -->
      <div class="col-md-4">
        <img [src]="movie?.poster" alt="{{ movie?.title }}" class="poster-img" />
      </div>
      <!-- Chi tiết phim -->
      <div class="col-md-8">
        <h2>{{ movie?.title }}</h2>
        <p><strong>Thể loại:</strong> {{ movie?.genres }}</p>
        <p><strong>Đạo diễn:</strong> {{ movie?.director }}</p>
        <p><strong>Diễn viên:</strong> {{ movie?.actors }}</p>
        <p><strong>Thời lượng:</strong> {{ movie?.duration }} phút</p>
        <p><strong>Ngày phát hành:</strong> {{ movie?.releaseDate | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Mô tả:</strong> {{ movie?.description }}</p>
      </div>
    </div>
  </div>
</div>
