.container {
  color: #222;
  height: 100vh;
  margin-top: 20px;
}

.register-form {
  background: linear-gradient(to bottom right, #e0f7fa, #f3e5f5);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #dbe2f5;
  align-items: center;
  justify-content: center;
}

.register-header {
  text-align: center;
  color: #3a8ddb; /* xanh biển sáng */
  margin-bottom: 20px;
}

.form-control {
  background-color: transparent;
  border: none;
  color: #333;
}

.form-control:focus {
  color: #333;
  background-color: transparent;
  outline: none;
  border-color: transparent;
}

.diviser-nospace {
  border: 1px solid #ccc;
}

.password-feild {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(20%);
  color: #3a8ddb;
  cursor: pointer;
}

.checkbox-text {
  color: #e67300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checkbox-text input[type='checkbox']:checked {
  border-color: white;
  background-color: #ffa1cf;
}

.form-check-input {
  margin-right: 5px;
}

.login-link {
  color: #3a8ddb;
  text-decoration: none;
  cursor: pointer;
}

.access-right {
  margin-top: 20px;
  width: 200px;
  color: #444;
  border: 1px solid #ffa1cf;
}

.access-right:hover {
  border: 1px solid #ffa1cf;
  cursor: pointer;
}

.access-right option {
  background-color: #f0f4ff;
  color: #333;
}

.form-control::placeholder {
  color: rgba(255, 153, 0, 0.5);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 153, 0, 0.5);
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 153, 0, 0.5);
}

.register-button {
  background: linear-gradient(to right, #2b6cb0, #3182ce);
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background: linear-gradient(to right, #225a9b, #2b6cb0);
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #ffb84d;
  margin: 20px;
}
