<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="register-form mx-auto">
          <h2 class="register-header">Tạo tài khoản mới</h2>

          <div class="mt-3">
            <div class="form-group">
              <label for="display-name">Tên hiển thị</label>
              <input
                placeholder="Nhập tên hiển thị"
                #displayNameInput
                type="text"
                class="form-control"
                name="displayName"
                [(ngModel)]="displayName"
                #displayNameCtrl="ngModel"
                id="display-name"
                required
              />
            </div>
          </div>

          <div class="mt-3">
            <div class="form-group">
              <label for="username">Email</label>
              <input
                placeholder="Nhập email của bạn"
                #usernameInput
                type="email"
                class="form-control"
                name="username"
                [(ngModel)]="username"
                #usernameCtrl="ngModel"
                id="username"
                required
                email
              />
              <p
                class="text-danger"
                *ngIf="
                  usernameCtrl.invalid && usernameCtrl.touched && usernameCtrl.errors?.['email']
                "
              >
                Email không đúng định dạng
              </p>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-group password-feild">
              <label for="password">Mật khẩu</label>
              <input
                placeholder="Nhập mật khẩu"
                #passwordInput
                type="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                #passwordCtrl="ngModel"
                id="password"
                required
                minlength="3"
              />
              <i class="password-toggle fa-solid fa-eye-slash"></i>
              <p
                class="text-danger"
                *ngIf="
                  passwordCtrl.invalid && passwordCtrl.touched && passwordCtrl.errors?.['minlength']
                "
              >
                Mật khẩu phải có ít nhất 3 ký tự
              </p>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-group password-feild">
              <label for="retype-password">Nhập lại mật khẩu</label>
              <input
                placeholder="Nhập lại mật khẩu"
                #retypePasswordInput
                type="password"
                class="form-control"
                name="retypePassword"
                [(ngModel)]="retypePassword"
                #retypePasswordCtrl="ngModel"
                id="retype-password"
                required
                (input)="checkPasswordMatch()"
              />
              <i class="password-toggle fa-solid fa-eye-slash"></i>
              <p class="text-danger" *ngIf="passwordMismatch && retypePasswordCtrl.touched">
                Mật khẩu không khớp
              </p>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-group">
              <div class="form-check checkbox-text">
                <input
                  type="checkbox"
                  name="isAccepted"
                  class="form-check-input"
                  [(ngModel)]="isAccepted"
                  id="remember"
                />
                <label for="remember" class="form-check-label">
                  Tôi đồng ý với các điều khoản điều kiện
                </label>
              </div>
            </div>
          </div>

          <button type="submit" class="register-button">Đăng ký</button>
          <div class="divider"></div>
          <p class="text-center">
            Bạn đã có tài khoản?
            <a (click)="navigate('/login')" class="login-link">Đăng nhập</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
