// Biến màu dùng chung
$color-primary: #7f44ff;
$color-primary-light: rgba(127, 68, 255, 0.1);
$color-text-dark: #222;
$color-accent: #3a8ddb;
$color-dropdown-search-box-bg: #e8f1f7;
$box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);
$box-shadow-deep: 0 4px 12px rgba(0, 0, 0, 0.1);
