.topic-page-container {
  padding: 40px 0;
  color: #333; /* Chữ chính */

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .topic-list {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(5, 1fr); /* 6 cột */
    gap: 10px; /* Không có khoảng cách giữa các ô */

    .topic-item {
      padding: 50px;
      text-align: center;
      border: 1px solid #ddd; /* Viền sáng để phân cách nhẹ */
      margin: -1px; /* Loại bỏ khoảng cách do viền gây ra */
      transition: all 0.3s;
      border-radius: 10px;
      cursor: pointer;

      h3 {
        color: #fff; /* Chữ trắng */
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
      }

      p {
        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        filter: brightness(1.1); /* Hiệu ứng sáng lên khi hover */
      }
    }
  }

  @media (max-width: 992px) {
    .topic-list {
      grid-template-columns: repeat(4, 1fr); /* 4 cột trên màn hình trung bình */
    }
  }

  @media (max-width: 576px) {
    .topic-list {
      grid-template-columns: repeat(2, 1fr); /* 2 cột trên màn hình nhỏ */
    }
  }
}
