<header class="sticky-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- Menu toggle button (bên trái logo) -->
      <button
        class="navbar-toggler me-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" [routerLink]="['/']">
        <img
          src="https://res.cloudinary.com/dt8idd99e/image/upload/v1748446227/logo_dvcinema_pxoanh.jpg"
          alt="logo_dvcinema"
          class="logo-img"
          (error)="onImageError($event)"
        />
      </a>

      <!-- Ô tìm kiếm (bên phải logo) -->
      <div class="search-autocomplete ms-2 me-3 flex-grow-1">
        <div class="input-group">
          <input
            #searchInput
            type="text"
            class="form-control search-input"
            placeholder="Tìm kiếm phim, diễn viên..."
            [(ngModel)]="searchQuery"
            (ngModelChange)="onSearchChange($event)"
            (keydown.enter)="onSearchEnter()"
          />
        </div>
        <div class="loading" *ngIf="isLoading">Đang tìm kiếm...</div>
        <ul #suggestionsList *ngIf="suggestions.length > 0 && !isLoading" class="suggestions-list">
          <li
            *ngFor="let movie of suggestions"
            (click)="navigate('/detail-movie/' + movie.id)"
            class="suggestion-item"
          >
            <div class="suggestion-content">
              <img [src]="movie.poster" alt="movie-poster" class="suggestion-poster" />
              <div class="suggestion-details">
                <div class="suggestion-title">{{ movie.title }}</div>
                <div class="suggestion-genre">{{ movie.genre }}</div>
              </div>
            </div>
          </li>
          <li class="load-more-trigger" #loadMoreTrigger *ngIf="canLoadMore">
            <div class="loading-more" *ngIf="isLoadingMore">Đang tải thêm...</div>
          </li>
        </ul>
      </div>

      <!-- Menu collapse -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('/topics')">CHỦ ĐỀ</a>
          </li>
          <li class="nav-item dropdown hover-dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="toggleMoviesDropdown()"
            >
              PHIM
            </a>
            <ul class="dropdown-menu" [ngClass]="{ show: showMoviesDropdown }">
              <li>
                <a class="dropdown-item" (click)="navigate('/movies/single')">PHIM LẺ</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="navigate('/movies/series')">PHIM BỘ</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="navigate('/movies/theater')">PHIM CHIẾU RẠP</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('/cinemas')">RẠP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('/ticket-prices')">GIÁ VÉ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('/news')">TIN TỨC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('/showtimes')">LỊCH CHIẾU</a>
          </li>
          <!-- Menu trên mobile -->
          <li *ngIf="isLoggedIn">
            <div class="nav-item d-lg-none user-menu-mobile">
              <div class="nav-link user-info" (click)="toggleUserDropdown()">
                <img
                  src="https://files.betacorp.vn/media%2fimages%2f2025%2f03%2f28%2f400x633%2D114754%2D280325%2D84.jpg"
                  alt="User Avatar"
                  class="user-avatar-mobile"
                />
                <span>{{ username || 'Người dùng' }}</span>
              </div>
              <ul class="user-dropdown" [ngClass]="{ show: showUserDropdown }">
                <li>
                  <a class="dropdown-item" (click)="navigate('/favorites')">Yêu thích</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/lists')">Danh sách</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/continue-watching')">Xem tiếp</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/account')">Tài khoản</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">Thoát</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- Nút đăng nhập trên mobile khi chưa đăng nhập -->
        <ng-container *ngIf="!isLoggedIn">
          <div class="nav-item d-lg-none">
            <button class="btn btn-primary btn-sm btn-login w-100 text-start" (click)="login()">
              ĐĂNG NHẬP
            </button>
          </div>
        </ng-container>

        <!-- User menu trên desktop -->
        <div class="d-none d-lg-flex align-items-center ms-auto navbar-nav">
          <ng-container *ngIf="!isLoggedIn">
            <button
              class="btn btn-primary btn-sm btn-login w-100 text-start nav-item"
              (click)="login()"
            >
              ĐĂNG NHẬP
            </button>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
            <div class="nav-item dropdown user-menu">
              <div class="nav-link user-info" (click)="toggleUserDropdown()">
                <img src="{{ avatar }}" alt="ảnh" class="user-avatar-mobile" />
                <span>{{ username || 'Người dùng' }}</span>
              </div>
              <ul class="user-dropdown" [ngClass]="{ show: showUserDropdown }">
                <li>
                  <a class="dropdown-item" (click)="navigate('/favorites')">Yêu thích</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/lists')">Danh sách</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/continue-watching')">Xem tiếp</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="navigate('/account')">Tài khoản</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">Thoát</a>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
</header>
