.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    margin-left: 250px; // Để lại khoảng trống cho sidebar
    padding: 20px;
    flex: 1;

    @media (max-width: 576px) {
      margin-left: 0;
      margin-top: 0;
      padding: 10px;
    }
  }
}
