@use 'variables' as *;
@use 'sass:color';

.container {
  margin-top: 25px;
}

h2 {
  font-size: 32px;
  color: $color-text-dark;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

p {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 16px;
}

// Form-specific styles
.login-form {
  background-color: $color-dropdown-search-box-bg;
  padding: 32px;
  border-radius: 12px;
  box-shadow: $box-shadow-deep;
  max-width: 500px;
  margin: 0 auto;

  @media (max-width: 576px) {
    padding: 24px;
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: $color-text-dark;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }

  .form-control {
    border: 1px solid #d1d5db; // Xám nhạt
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 3px $color-primary-light;
      outline: none;
    }
  }
}

.password-feild {
  position: relative;

  .password-toggle {
    position: absolute;
    right: 12px;
    top: 70%;
    transform: translateY(-50%);
    color: $color-primary;
    cursor: pointer;
    font-size: 16px;
  }
}

.login-button {
  background-color: $color-primary;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.scale($color-primary, $lightness: -10%);
  }
}

.login-google-button {
  background-color: #e7f5ff;
  border: 1px solid #d1d5db;
  color: $color-text-dark;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 12px;

  &:hover {
    background-color: color.scale($color-accent, $lightness: -10%);
  }
}

.divider {
  height: 1px;
  background-color: #d1d5db;
  margin: 24px 0;
}

.or-text {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
  margin-top: 5px;
}

.register-link,
.forgot-password a {
  color: $color-primary;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.diviser-nospace {
  height: 1px;
  background-color: #d1d5db;
  margin-top: 8px;
}
