<header class="public-header">
  <div class="header-content">
    <div class="logo">
      <a [routerLink]="['/dashboard']"><h1>DVCinema</h1></a>
    </div>
    <nav class="menu">
      <a [routerLink]="['/dashboard']" routerLinkActive="active">Trang Chủ</a>
      <a [routerLink]="['/movies/theater']" routerLinkActive="active">Phim Đang Chiếu</a>
      <a [routerLink]="['/bookings']" routerLinkActive="active">Đặt Vé</a>
    </nav>
    <div class="user-info">
      <span *ngIf="isLoggedIn">Xin chào, {{ userName }}</span>
      <button *ngIf="isLoggedIn" class="btn btn-danger btn-sm" (click)="logout()">Đăng Xuất</button>
      <button *ngIf="!isLoggedIn" class="btn btn-primary btn-sm" [routerLink]="['/login']">
        Đăng Nhập
      </button>
    </div>
  </div>
</header>
