<header class="public-header">
  <div class="header-content">
    <a class="navbar-brand" [routerLink]="['/admin']">
      <img
        src="https://res.cloudinary.com/dt8idd99e/image/upload/v1748446227/logo_dvcinema_pxoanh.jpg"
        alt="logo_dvcinema"
        class="logo-img"
      />
    </a>
    <div class="user-info">
      <span *ngIf="isLoggedIn">Xin chào, {{ userName }}</span>
      <button *ngIf="isLoggedIn" class="btn btn-danger btn-sm" (click)="logout()">Đăng Xuất</button>
      <button *ngIf="!isLoggedIn" class="btn btn-primary btn-sm" [routerLink]="['/login']">
        Đăng Xuất
      </button>
    </div>
  </div>
</header>
